* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 24px;
}
:root,
body {
  height: 100%;
  background-color: #c58940;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  flex: 0 520px;
  border: 15px #393e46 solid;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  border-radius: 8%;
  padding: 45px;
  margin: 5px;
}

.display {
  font-size: 48px;
  justify-content: flex-end;
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  height: 48px;
  background-color: #faeab1;
  padding: 0px 15px 15px 15px;
  border-radius: 0 0 15px 15px;
  align-items: center;
}
.ans {
  height: 20px;
  font-size: 20px;
  padding: 0 15px;
  border-radius: 0;
}
.num {
  background-color: #a0987b;
}
.ope {
  background-color: #e5ba73;
}
